package {{packageName}}

import android.app.Application
import {{sharedPrefClass}}
import {{packageName}}.utils.beauty_full.CommonConfig
import {{packageName}}.utils.beauty_full.BeautyFullServiceConfig
import {{packageName}}.utils.beauty_full.VslBeautyFullAdsConfig
import {{packageName}}.utils.beauty_full.BeautyConfigProvider
import com.apero.beauty_full.VslBeautyFullEntry

class {{applicationClassShort}} : Application() {
    override fun onCreate() {
        super.onCreate()
        val commonConfig   = CommonConfig({{sharedPrefClassShort}}(this), this)
        val serviceConfig  = BeautyFullServiceConfig()
        val adsConfig      = VslBeautyFullAdsConfig()
        val beautyProvider = BeautyConfigProvider(commonConfig, adsConfig, serviceConfig)

        VslBeautyFullEntry.initialize(
            context            = this,
            commonConfig       = commonConfig,
            serviceConfig      = serviceConfig,
            allFeatureAdsIdConfig = adsConfig,
            beautyConfigProvider  = beautyProvider
        )
    }
}