package {{packageName}}

import android.app.Application
import {{sharedPrefClass}}
import {{packageName}}.utils.beauty_full.CommonConfig
import {{packageName}}.utils.beauty_full.BeautyFullServiceConfig
import {{packageName}}.utils.beauty_full.VslBeautyFullAdsConfig
import {{packageName}}.utils.beauty_full.BeautyConfigProvider
import com.apero.beauty_full.VslBeautyFullEntry

class {{applicationClassShort}} : Application() {
    override fun onCreate() {
        super.onCreate()

        VslBeautyFullEntry.initialize(
            context = this,
            config = BeautyFullConfigProvider.beautyFullConfig,
            fittingConfig = fittingProvider(),
            beautyPlusConfig = BeautyConfigProvider(this),
        )
    }
}