package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.api.config.VslArtPremiumUiConfig

data object ArtPremiumUiConfig : VslArtPremiumUiConfig {
    override val topBarColor: Int     = R.color.art_premium_topbar
    override val bottomBarColor: Int  = R.color.art_premium_topbar
    override val rvTextColor: Int     = R.color.black
    override val rvTextFocusColor: Int= R.color.art_premium_loading
    override val tabLayoutColor: Int  = R.drawable.vsl_tab_layout
    override val imgNoneColor: Int    = R.color.art_premium_img_none
    override val loadingColor: Int    = R.color.art_premium_loading
    override val backgroundColor: Int = R.color.art_premium_topbar
    override val icBack: Int          = R.drawable.beautify_ic_back
    override val icApply: Int         = com.apero.beauty_full.R.drawable.beautify_ic_check
}