package {{packageName}.utils.beautifytemplate}

import com.apero.beautify_template.api.config.ui.VslBeautifyTemplateUiConfig
import {packageName}.data.sharedpref.SharedPref

class BeautifyTemplateUiConfig: VslBeautifyTemplateUiConfig {
    override val numberShowDialogServiceBeautifyTemplateError: Int
        get() = SharedPref.getInstance().numberShowDialogServiceError
}