package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.api.config.VslBeautyFullClothesFeature
import vn.apero.vslbeautyfull.api.model.VslFontsConfigModel
import vn.apero.vslbeautyfull.api.model.VslIconsConfigModel
import vn.apero.vslbeautyfull.api.model.VslStringsConfigModel
import vn.apero.vslbeautyfull.api.model.VslStringConfigDialogModel
import vn.apero.vslbeautyfull.api.model.VslConfigPickPhotoModel

object ClothesFeature : VslBeautyFullClothesFeature {
    override val fonts: VslFontsConfigModel
        get() = VslFontsConfigModel()
    override val icons: VslIconsConfigModel
        get() = VslIconsConfigModel()
    override val strings: VslStringsConfigModel
        get() = VslStringsConfigModel()
    override val stringsDialog: VslStringConfigDialogModel
        get() = VslStringConfigDialogModel()
    override val pickPhoto: VslConfigPickPhotoModel
        get() = VslConfigPickPhotoModel()
    override val adsConfig = VslConfigPickPhotoModel()  // hoặc custom nếu cần
}