package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.api.config.VslExpandAdsConfig

class ExpandAdsConfig : VslExpandAdsConfig {
    override val rewardGenExpandHigh: String   = BuildConfig.reward_gen_expand_high
    override val rewardGenExpandNormal: String = BuildConfig.reward_gen_expand_normal
}