package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.api.config.VslFittingConfig
import vn.apero.vslbeautyfull.api.config.Config

fun fittingProvider(): VslFittingConfig {
    return VslFittingConfig().setBaseConfig(
        Config.IdAdsRewardConfig(
            rewardIdPriorityFittingGenerate = BuildConfig.show_fitting_gen_o_reward_high,
            rewardIdDefaultFittingGenerate  = BuildConfig.show_fitting_gen_o_reward
        ),
        nativeAdsConfig = null
    ).setUiConfig(
        Config.UiConfig(),
        Config.PhotoPickerUiConfig()
    )
}