package {{packageName}.utils.beauti}

import com.apero.beauty_full.api.config.subfeauture.VslBeautyFullBeautyConfigProvider
import com.apero.beauty_full.common.beautify.template2.config.module.ads.builder.AdsBuilderV2
import com.apero.beauty_full.common.beautify.template2.config.module.ui.builder.BeautyUIConfigBuilderV2
import {packageName}.R
import {packageName}.data.sharedpref.SharedPref
import {packageName}.App
import {packageName}.App.Companion.instance
import {packageName}.BuildConfig

class BeautyConfigProvider : VslBeautyFullBeautyConfigProvider(App.instance) {
    private val sharedPref: SharedPref by inject(SharedPref::class.java)

    override fun BeautyUIConfigBuilderV2.configureUIConfig() = apply {
        colors {
            setTextPrimaryColor(R.color.beauty_color_text_primary)
            setTextSecondaryColor(R.color.beauty_color_text_secondary)
            setTextMainColor(R.color.beauty_color_text_main)
        }
        strings {
            setLoading(R.string.vsl_beautify_loading)
            setTag(R.string.app_name)
        }
        icons {
            iconClose(R.drawable.beautify_ic_back)
            bgButtonMain(R.drawable.beautify_bg_gradient_button_r6)
            bgButtonOval(R.drawable.perfectme_bg_gradient_button_r50)
            iconBadgeEdit(R.drawable.beautify_bg_gradient_button_r999)
            setIconBackToHome(R.drawable.beautify_ic_share_home)
        }
        textFont {
            regular(R.font.svn_gilroy_regular)
            medium(R.font.svn_gilroy_medium)
            bold(R.font.svn_gilroy_bold)
            semiBold(R.font.svn_gilroy_semibold)
        }
        animations {
            setLoadingAnimation(R.raw.beautify_anim_loading)
        }

    }

    override fun AdsBuilderV2.configureAds(): AdsBuilderV2 = apply {
        setRewardBeauty(
            BuildConfig.show_option_down_o_reward_high,
            BuildConfig.show_option_down_o_reward
        )
        setRewardGenBeauty(
            BuildConfig.show_beautify_gen_o_reward_high,
            BuildConfig.show_beautify_gen_o_reward
        )
        setBannerStyle(
            idBannerStyleHigh = "TODO",
            idBannerStyleNormal = "TODO"
        )
        setBannerOption(
            idBannerOptionHigh = "TODO",
            idBannerOptionNormal = "TODO"
        )
    }

    override fun getAppNameReport(): String {
        return instance.getString(R.string.app_name)
    }

    override fun getLanguage(): String {
        return sharedPref.language
    }


    override fun getEmailReport(): String {
        return "mo.visionlab@apero.vn"
    }

    override fun getNameStyle(): String {
        return "PerfectMe - Beautify" // "{app name} - Beautify"
    }

    override fun getPackageNameProvider(): String {
        return "${BuildConfig.APPLICATION_ID}.fileprovider"
    }

}