package {{packageName}}

import vn.apero.vslbeautyfull.ui.VslBeautyFullSelectPhoto

class PickPhotoActivity : VslBeautyFullSelectPhoto(){
override fun setUpUiConfig(builder: PhotoPickerUIConfigBuilder): PhotoPickerUIConfigBuilder {
        return builder

    }


    override fun setupUI() {

    }
}