package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.api.config.VslRemoveObjectAdsConfig

class RemoveAdsConfig : VslRemoveObjectAdsConfig {
    override val rewardGenRemoveObjectHigh: String   = BuildConfig.show_remove_gen_o_reward_high
    override val rewardGenRemoveObjectNormal: String = BuildConfig.show_remove_gen_o_reward
}