package {{packageName}.utils.restore}


import {packageName}.data.sharedpref.SharedPref
import com.apero.restore.api.config.ui.VslRestoreUiConfig

class RestoreUiConfig: VslRestoreUiConfig {
    override val numberShowDialogServiceRestoreError: Int
        get() = SharedPref.getInstance().numberShowDialogServiceError
}