package {{packageName}.utils.all_feature.config}

import com.apero.beauty_full.api.config.ui.VslBeautyFullShareUiConfig


object ShareAction : VslBeautyFullShareUiConfig {
    override val iconBack: Int
        get() = TODO("Not yet implemented")
    override val buttonText: Int
        get() = TODO("Not yet implemented")
    override val description: Int
        get() = TODO("Not yet implemented")
    override val iconButton: Int
        get() = TODO("Not yet implemented")
    override val iconHome: Int
        get() = TODO("Not yet implemented")
    override val title: Int
        get() = TODO("Not yet implemented")
}
