package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.config.VslBeautyFullSubFeatureConfig

class BeautyFullSubFeatureConfig(
    private val expand: VslBeautyFullExpandFeature,
    private val enhance: VslBeautyFullEnhanceFeature,
    private val removeObject: VslBeautyFullRemoveObjectFeature,
    private val clothes: VslBeautyFullClothesFeature,
    private val artPremium: VslArtPremiumFeature,
    private val removeBg: VslRemoveBgFeature
) : VslBeautyFullSubFeatureConfig,
    VslBeautyFullExpandFeature by expand,
    VslBeautyFullEnhanceFeature by enhance,
    VslBeautyFullRemoveObjectFeature by removeObject,
    VslBeautyFullClothesFeature by clothes,
    VslArtPremiumFeature by artPremium,
    VslRemoveBgFeature by removeBg