package {{packageName}}.utils.beauty_full

import vn.apero.vslbeautyfull.config.VslBeautyFullAllFeatureAdsIdConfig

class VslBeautyFullAdsConfig : VslBeautyFullAllFeatureAdsIdConfig {
    override val rewardGenAllFeatureHigh: String = BuildConfig.show_all_down_o_reward_high
    override val rewardGenAllFeatureNormal: String = BuildConfig.show_all_down_o_reward
    override val idBannerAllFeatureHigh: String = "TODO"
    override val idBannerAllFeatureNormal: String = "TODO"
    override val idBannerShareHigh: String = "TODO"
    override val idBannerShareNormal: String = "TODO"
    override val idBannerStyleHigh: String = "TODO"
    override val idBannerStyleNormal: String = "TODO"
    override val idNativeHighFloor: String = BuildConfig.show_beauty_slp_a_native_high
    override val idNativeNormalFloor: String = BuildConfig.show_beauty_slp_a_native
    override val idInterstitialHighPriority: String = ""
    override val idInterstitialMediumPriority: String = ""
    override val idInterstitialLowPriority: String = ""
    override val idRewardGenRestoreHigh: String = BuildConfig.show_restore_gen_o_reward_high
    override val idRewardGenRestoreNormal: String = BuildConfig.show_restore_gen_o_reward
    override val idRewardGenTemplateHigh: String = BuildConfig.show_beautytemplate_gen_o_reward_high
    override val idRewardGenTemplateNormal: String = BuildConfig.show_beautytemplate_gen_o_reward
    override val idBannerTemplateHigh: String = ""
    override val idBannerTemplateNormal: String = ""
    override val idBannerArtHigh: String = ""
    override val idBannerArtNormal: String = ""
    override val idRewardGenArtHigh: String = ""
    override val idRewardGenArtNormal: String = ""
    override val idRewardGenArtPremiumHigh: String = BuildConfig.show_artpremium_gen_o_reward_high
    override val idRewardGenArtPremiumNormal: String = BuildConfig.show_artpremium_gen_o_reward
    override val idBannerArtPremiumHigh: String = ""
    override val idBannerArtPremiumNormal: String = ""
    override val idBannerRemoveBgHigh: String = ""
    override val idBannerRemoveBgNormal: String = ""
    override val idRewardGenRemoveBgHigh: String = BuildConfig.show_removebg_gen_o_reward_high
    override val idRewardGenRemoveBgNormal: String = BuildConfig.show_removebg_gen_o_reward
}