package {{packageName}.utils.setupexpand}


import com.apero.beauty_full.common.expand.api.config.VslExpandAdsConfig
import {packageName}.BuildConfig


class ExpandAdsConfig : VslExpandAdsConfig {

    override val rewardGenExpandHigh: String = BuildConfig.reward_gen_expand_high

    override val rewardGenExpandNormal: String = BuildConfig.reward_gen_expand_normal

}